* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:link,
a:visited,
a:active {
    text-decoration: none;
}
main{
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: block;
    flex-wrap: wrap;
    background-color: #58a0ff;
}
.main {max-width: 150px; height: auto;
align-items: center;
align-content: center;
}
ul{
    margin: 0px;
    padding-left: 10px;
    margin-left: 20px;
}
.liststyles1{
    list-style-type: circle;
    list-style-position:outside;
}
.image-list{
    list-style: none;
}
p {
    width: 840px;
    margin: 0px;
    text-align: justify;
    padding: 0px;
    padding-left: 10px;
    font-family: 'Roboto',Verdana, Geneva, Tahoma;
font-size: 20px;
margin-left: 20px;
}
.parrafo1{
    background-color: aquamarine;

}
.first-paragraph{
padding-bottom: 10px;
padding-left: 10px; 
margin-left: 20px; 
background-color: yellowgreen;  
}
.bottom-p{
    padding: 10px 0px 10px 10px;
}
.header{
    height: 100px;
    background-color: steelblue;
    display: flex;
    align-content: flex;
    align-items: flex;
    }
.links{
    color: white;
}
.nav-main {background-color: rgb(70, 180, 88);
padding: 1px;
display: center;
}
.nav-main-links{
list-style: none;

}
.tittle-container{
width: 840px;
align-items: flex;
align-content: flex;
text-align: center;
display: block;
background-color: red;

}
h1 {color: steelblue;
    width: 840px;
    padding: 0px 0px 0px 10px;
    margin-bottom: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {color: steelblue;
    padding: 0px 0px 0px 10px;
    /* margin-left: 170px; */
    margin-top: 0px;
}

.image-shadow{
    /* box-shadow: #000 0px 2px 3px 0px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
margin-bottom: 20px;
margin-left: 150px;
}
.m-0{
    margin: none;
}
.myself-image-container{
display: flex;
background-color: rgba(255, 0, 0, 0.404);
width: 840px;
margin-bottom: 20px;
list-style: none;
}
.paragraph-container{
    width: 840px;
    display: flexbox;
    margin-left: 20px;
background-color: teal;
}
.aside {width: 20px;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;}
    footer {margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;}

    /* Class Selectors */
    .box {
        margin: 1rem;
        border: 1px; solid rgba(0,0,0,.1);
        padding: 1rem;
        background-color: #ddd;
        color: #000;
        width: 250px;
        margin: 28px;
    }